/*color*/
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;    
    --accent-color: #2196f3;
    --primary-light-color: #ffffff;
    --background-color: #2F303A;
}

/*logo*/
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;

color: var(--accent-color);
}

.logo-dark {
color: #000
}

.logo-light {
color: var(--primary-light-color);
}

.hero {
    background-color: var(--background-color);
}


/*additions*/
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*address*/
.address-nav a {
    color: var(--primary-light-color);
}

.address-nav .link:focus {
    color: var(--accent-color);
}

.address-nav .link:hover {
    color: var(--accent-color);
}

.address-up-nav .link {
    color: var(--primary-text-color);
}

.address-background {
    background-color: var(--background-color);
}
/*sait*/
.sait-nav a {
    color: var(--title-text-color);
}

.sait-nav .link:hover,
.sait-nav .link:focus {
    color: var(--accent-color);
}

.sait-nav .link.current {
    color: var(--accent-color);
}

/*text*/
.address-nav {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
}

.address-up-nav {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;    
}

.sait-nav {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.hero-title {
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
    color: var(--primary-light-color);
}

.special-title {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.special-text {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}

.study-header {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-header {
font-weight: 700;
font-size: 36px;
line-height: 1.42;
text-align: center;
letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-title {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-text {
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
}

.section-title {
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
    color: var(--title-text-color);
}

.section-text {
font-style: normal;
font-size: 16px;
line-height: 1.9;
    color: var(--primary-text-color);
}

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary-text-color);
}

/*Button*/
.button {
    color: var(--title-text-color);
    background-color: var(--primary-light-color);
    cursor: pointer;
}

.button-primary {
    color: var(--primary-light-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.button-secondary {
    color: var(--title-text-color);
    background-color: var(--primary-light-color);
    cursor: pointer;
}
