/*color*/
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;    
    --accent-color: #2196f3;
    --primary-light-color: #ffffff;
    --light-color: rgba(255, 255, 255, 0.6);
    --background-color: #2F303A;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
}

/*logo*/
.logo-up,
.logo-down {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--accent-color);
}

.logo-dark {
color: #000
}

.logo-light {
color: var(--primary-light-color);
}

.logo-down.link {
    margin-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
}

.logo-up.link {
    margin-top: 24px;
    margin-bottom: 25px;
    display: inline-block;
}

.hero {
    background-color: var(--background-color);
height: 600px;
width: auto;
left: 0px;
top: 80px;
border-radius: 0px;
}

/* container */
.container,
.container-address-down,
.container-team,
.container-footer {
width: 1230px;
padding-right: 15px;
padding-left: 15px;
margin: 0 auto;
}

.container-address-down {
    padding: 0;
    margin: 0;
}

/*additions*/
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.special-header {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

/* Для размеров кнопок */
.dop {
    font-weight: 700;
font-size: 16px;
line-height: 1.9;
display: flex;
text-align: center;
}

.dopp {
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
}

/*header*/
.header {
    background-color: var(--primary-light-color);
}


/*address*/
.address-nav .link {
    color: var(--primary-light-color);

display: inline-block;
padding-bottom: 9px;
}

.address-nav .link:focus {
    color: var(--accent-color);
}

.address-nav .link:hover {
    color: var(--accent-color);
}

.address-up-nav .link {
    color: var(--primary-text-color);
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 32px;
}

.address-up-nav .link:focus,
.address-up-nav .link:hover {
    color: var(--accent-color);
}

.address-nav-secondary .link {
    color: var(--light-color);

display: inline-block;
padding-bottom: 9px;
}

.address-nav-secondary .link:focus,
.address-nav-secondary .link:hover {
    color: var(--accent-color);
}

.address-nav,
.address-nav-secondary {
    font-size: normal;
}

.address-background {
    background-color: var(--background-color);
    padding-bottom: 51px;
}

.address-down.link {
display: inline-block;
}
/*sait*/
.sait-nav .link {
    padding: 0;
    margin: 0;
    color: var(--title-text-color);

    display: inline-block;
    margin-top: 32px;
    margin-bottom: 32px;
}

.sait-nav .link:hover,
.sait-nav .link:focus {
    color: var(--accent-color);
}

.sait-nav .link.current {
    color: var(--accent-color);
}

/* special */
.special {
padding: 0;
margin: 0;

}

/* study */
.study {
padding: 0;
margin-bottom: 0;
}

.study-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 50px;
}

.study.list {
    padding-bottom: 94px;
}
/* team */
.team {
background-color: #F5F4FA;
}

.team.list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 94px;
}

.team-header {
    margin-top: 0;
}
/*text*/
.address-nav,
.address-down,
.address-nav-secondary,
.address-up-nav {
margin: 0;
padding: 0;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
}

.sait-nav {
padding: 0;
margin: 0;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
    color: var(--primary-light-color);

padding-top: 200px;
margin-bottom: 30px;
margin-top: 0;
}

.special-title {
font-weight: 700;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;
text-transform: uppercase;

    color: var(--title-text-color);

margin-top: 0;
padding-top: 94px;
margin-bottom: 10px;
}

.special-text {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

margin-top: 0;
}

.study-header {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
    color: var(--title-text-color);

    padding-top: 94px;
}

.team-header {
font-weight: 700;
font-size: 36px;
line-height: 1.42;
text-align: center;
letter-spacing: 0.03em;
    color: var(--title-text-color);

padding-top: 94px;
padding-bottom: 50px;
margin-bottom: 0;
}

.team-title {
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
    color: var(--title-text-color);

margin-top: 30px;
margin-bottom: 10px;
}

.team-text {
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;

margin-top: 0;
margin-bottom: 0;
padding-bottom: 30px;
}

.section-title {
font-weight: 700;
font-size: 18px;
line-height: 2;

color: var(--title-text-color);

margin-top: 20px;
margin-bottom: 9px;
}

.section-text {
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;

margin-top: 0;
margin-bottom: 0;
}

.section.list {
padding: 0;
padding-bottom: 94px;
margin-top: 0;
margin-bottom: 0;
}
/*Button*/
.button-link.list {
margin-top: 0;
margin-bottom: 0;
padding: 0;
padding-top: 94px;
}

.button {
    color: var(--title-text-color);
    background-color: var(--primary-light-color);

    cursor: pointer;
}

.button-primary-first {
    border-radius: 4px;
    padding: 10px 32px;
    margin-bottom: 200px;
    display: inline-block;


    color: var(--primary-light-color);
    background-color: var(--accent-color);

    cursor: pointer;
}

.button-primary {
    border-radius: 4px;
    padding: 6px 22px;
    margin-top: 0;
    margin-bottom: 50px;
    min-width: auto;

    color: var(--primary-light-color);
    background-color: var(--accent-color);

    cursor: pointer;
}

.button-secondary {
    border-radius: 4px;
    padding: 6px 22px;
    margin-top: 0;
    margin-bottom: 56px;
    min-width: auto;

    color: var(--title-text-color);
    background-color: var(--primary-light-color);

    cursor: pointer;
}

.button-secondary:hover,
.button-secondary:focus {
    color: var(--accent-color);
}
